<div class="container custom-container">
    <div class="dropdown custom-dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">product subcategory
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <li><a href="#">Mobiles</a></li>
            <li><a href="#">cloths</a></li>
            <li><a href="#">Mens</a></li>
            <li><a href="#">Womens</a></li>
            <li><a href="#">Kids</a></li>
            <li><a href="#">Others</a></li>
        </ul>
    </div>

</div>