<div class="container custom-container">
    <div class="wrapper">category:<select name="" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();' (change)="onchanges($event.target.value)">
    <option class="options" selected>Choose...</option>
    <option [value]="cat" *ngFor="let cat of category "> {{cat}}</option>
  </select></div>
    <div class="wrapper"> sub category:<select name="" disabled="{{actives ? '': 'disabled'}}" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
    <option class="options" selected>Chorose...</option>
    <option [value]="sub_cat" *ngFor="let sub_cat of sub_category "> {{sub_cat}}</option>
  </select></div>
</div>